* {
  margin: 0px;
  padding: 0px;
}

input {
  background-color: rgba(0, 0, 0, 0.05);
}

body {
  margin: 0px;
  padding: 0px;
  position: relative;
}
button {
  border: none;
  list-style-type: none;
  cursor: pointer;
  background: none;
  padding: 5px;
}
button:hover {
  background: black;
  border-radius: 5px;
  color: #fff;
}

.header {
  width: 100vw;
  height: 70px;
  background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 920px;
}
.conteiner-inner {
  display: flex;
  justify-content: space-between;
}
.authorization {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.input {
}
.btn-user {
}
.output {
}
.btn-out {
}
.registration {
  display: block;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.btn-vidio {
}
.btn-img {
}
.btn-music {
}
/*окно авторизации*/
.input_user {
  display: none;
  position: fixed;
  width: 170px;
  top: 40%;
  left: 45%;
  padding: 20px;
  border-radius: 16px 4px 16px 4px;
  margin: 0 auto;
  border: 1px solid coral;
  background-color: coral;
}
.cancellation {
  margin-left: 160px;
  margin-bottom: 10px;
}
.error-user {
  display: none;
  margin-bottom: 10px;
  color: red;
  font-weight: 700;
  text-align: center;
}
.user-email {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-text {
  margin-bottom: 10px;
}
.email-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  outline: 0 !important;
}

.email-input:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.user-password {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.password-text {
  margin-bottom: 10px;
}
.password-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  outline: 0 !important;
}

.password-input:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.button-user {
  display: none;
}
.user-int {
}

.error-user {
  display: block;
  color: red;
  font-weight: 700;
}
/*блог регистрации*/
.user-registration {
  display: none;
  position: fixed;
  width: 190px;
  top: 35%;
  left: 45%;
  padding: 20px;
  border-radius: 16px 4px 16px 4px;
  margin: 0 auto;
  border: 1px solid coral;
  background-color: coral;
}
.cancellation-user {
  margin-left: 160px;
  margin-bottom: 10px;
}
.registration-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}
.registration-text {
  margin-bottom: 10px;
}
.registration-text p {
  text-align: center;
}
.registration-input {
  display: flex;
  flex-direction: column;
}
.newUser {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
  outline: 0 !important;
}
.new-user-name {
  margin-bottom: 8px;
}
.new-user-age {
  margin-bottom: 8px;
}
.new-user-date {
  margin-bottom: 8px;
}
.new-user-phone {
  margin-bottom: 8px;
}
.new-user-email {
  margin-bottom: 8px;
}
.new-user-cyti {
  margin-bottom: 8px;
}

.new-user-street {
  margin-bottom: 8px;
}
.new-user-hose {
  margin-bottom: 8px;
}
.new-user-password {
}

/* content */
.conteiner {
}
.content-innit {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1a25c2; */
  width: 100%;
  height: 500px;
}
.img-left,
.img-right {
  display: block;
  background-color: chartreuse;
  width: 200px;
  height: 280px;
}
.img-centr {
  display: block;
  background-color: red;
  width: 280px;
  height: 450px;
  margin: 0 30px;
}
.img-right,
.img-centr,
.img-left {
  display: block;
  border-radius: 12px;
  background: round;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: all 0.5s; */
}
.img-right img,
.img-centr img,
.img-left img {
  width: 10%;
}
